<br>
<br>
<div class="container z-depth-5">
  <div class="row">
    <div class="row"></div>
    <div class="col s12">
      <a class="btn-small teal waves-effect waves-teal lighten-2 modal-trigger" href="#modalProdutos"><i class="material-icons">add</i></a>
      <a class="btn-small teal waves-effect waves-teal lighten-2 right"><i class="material-icons right">close</i><span>Voltar</span></a> 
    </div>  
  </div>
    <table class="responsive-table centered">
        <thead>
          <tr>
              <th>Produto</th>
              <th>Marca</th>
              <th>Quantidade</th>
              <th>Valor de Venda</th>
              <th>Unidade</th>
              <th>Ações</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td>Cereja</td>
            <td>Januario Cerejas</td>
            <td>20</td>
            <td>R$ 20,00</td>
            <td>KG</td>
            <td>
              <a class="teal-text"><i class="material-icons">edit</i></a>
              <a class="teal-text"><i class="material-icons">delete</i></a>
            </td>
          </tr>
          <tr>
            <td>Laranja</td>
            <td>Mercantil Frutas</td>
            <td>109</td>
            <td>R$ 10,00</td>
            <td>KG</td>
            <td>
              <a class="teal-text"><i class="material-icons">edit</i></a>
              <a class="teal-text"><i class="material-icons">delete</i></a>
            </td>
          </tr>
          <tr>
            <td>Banana</td>
            <td>Sene Sousa Frutas</td>
            <td>248</td>
            <td>R$ 5,00</td>
            <td>KG</td>
            <td>
              <a class="teal-text"><i class="material-icons">edit</i></a>
              <a class="teal-text"><i class="material-icons">delete</i></a>
            </td>
          </tr>
          <tr>
            <td>Melancia</td>
            <td>Frutas Paula</td>
            <td>55</td>
            <td>R$ 80,00</td>
            <td>KG</td>
            <td>
              <a class="teal-text"><i class="material-icons">edit</i></a>
              <a class="teal-text"><i class="material-icons">delete</i></a>
            </td>
          </tr>
          <tr>
            <td>Pera</td>
            <td>Frutinelle</td>
            <td>109</td>
            <td>R$ 26,00</td>
            <td>KG</td>
            <td>
              <a class="teal-text"><i class="material-icons">edit</i></a>
              <a class="teal-text"><i class="material-icons">delete</i></a>
            </td>
          </tr>
          <tr>
            <td>Melão</td>
            <td>Frutas Sheila</td>
            <td>222</td>
            <td>R$ 16,00</td>
            <td>KG</td>
            <td>
              <a class="teal-text"><i class="material-icons">edit</i></a>
              <a class="teal-text"><i class="material-icons">delete</i></a>
            </td>
          </tr>
          <tr>
            <td>Maça</td>
            <td>Macieira Tosta</td>
            <td>2550</td>
            <td>R$ 13,00</td>
            <td>KG</td>
            <td>
              <a class="teal-text"><i class="material-icons">edit</i></a>
              <a class="teal-text"><i class="material-icons">delete</i></a>
            </td>
          </tr>
          <tr>
            <td>Alface</td>
            <td>Suvirval</td>
            <td>109</td>
            <td>R$ 66,00</td>
            <td>KG</td>
            <td>
              <a class="teal-text"><i class="material-icons">edit</i></a>
              <a class="teal-text"><i class="material-icons">delete</i></a>
            </td>
          </tr>
          <tr>
            <td>Pimenta</td>
            <td>Sene Sousa Frutas</td>
            <td>11</td>
            <td>R$ 5,00</td>
            <td>KG</td>
            <td>
              <a class="teal-text"><i class="material-icons">edit</i></a>
              <a class="teal-text"><i class="material-icons">delete</i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <app-modalprodutos id="modalProdutos" class="modal" />
</div>