<br>
<br>
<div class="container z-depth-5">
  <div class="row p-4 center">
    <div class="row"></div>
    <section class="statistics mt-4">
      <div class="row center">
        <div class="col s12 m4">
          <div class="card teal lighten-2 white-text rounded-2 mb-4" style="cursor: pointer;">
            <div class="card-content">
              <i class="material-icons fs-2">email</i>
              <div class="d-flex align-items-center">
                <h3 class="mb-0">1.245</h3> <span class="d-block ms-2">Emails</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card teal lighten-2 white-text rounded-2 mb-4" style="cursor: pointer;">
            <div class="card-content">
              <i class="material-icons fs-2">description</i>
              <div class="d-flex align-items-center">
                <h3 class="mb-0">34</h3> <span class="d-block ms-2">Projetos</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card teal lighten-2 white-text rounded-2 mb-4" style="cursor: pointer;">
            <div class="card-content">
              <i class="material-icons fs-2">people</i>
              <div class="d-flex align-items-center">
                <h3 class="mb-0">5.245</h3> <span class="d-block ms-2">Usuários</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="charts mt-4" >
      <div class="row center">
        <div class="col s12 m6">
          <div class="card rounded" style="background: transparent;">
            <h3>Grafico de Perdas</h3>
            <canvas id="myChart" height="200"></canvas>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card rounded" style="background: transparent;">
            <h3 class="fs-6 mb-3">Grafico de Ganhos</h3>
            <canvas id="myChart2" height="200"></canvas>
          </div>
        </div>
      </div>
    </section>
  
    <section class="admins mt-4">
      <div class="row">
        <!-- Administrators Section -->
      </div>
    </section>
  
    <section class="statis mt-4 text-center">
      <div class="row center">
        <div class="col s12 m6">
          <div class="card teal  white-text" style="cursor: pointer;">
            <i class="material-icons">remove_red_eye</i>
            <h3>2.164</h3>
            <p class="lead">Usuários Logados</p>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card teal white-text" style="cursor: pointer;">
            <i class="material-icons">person</i>
            <h3>245</h3>
            <p class="lead">Usuários Registrados</p>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card teal white-text" style="cursor: pointer;">
            <i class="material-icons">shopping_cart</i>
            <h3>5.154</h3>
            <p class="lead">Venda de Produtos</p>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card teal white-text" style="cursor: pointer;">
            <i class="material-icons">feedback</i>
            <h3>4.054</h3>
            <p class="lead">Transações</p>
          </div>
        </div>
      </div>
    </section>
  
    <section class="charts mt-4">
      <div class="card rounded" style="background: transparent;">
        <h3 class="row center">Grafico Geral</h3>
        <div style="height: 700px;">
          <canvas id="myChart3" width="100%"></canvas>
        </div>
      </div>
    </section>
  </div>
</div>
