<div class="modal-content">
    <h4 class="center">Notificações Gerais</h4>
    <div class="row"> 
        <div class="col s12">
            <ul class="collapsible popout">
                <li>
                  <div class="collapsible-header"><i class="material-icons">notifications</i>Financeiro nova entrada</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">notifications</i>Novo usuário cadastrado</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">notifications</i>Relatório emitido</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>        
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="divider"></div>
    <a class="btn-small waves-effect waves-teal teal lighten-2" title="Marcar como lidas"><i class="material-icons right">drafts</i>Marcar como Lidas</a>
    <a class="modal-close waves-effect waves-teal btn-flat"><i class="material-icons right">close</i>Fechar</a>
</div>