    <div class="row">
        <div class="col s6">
            <a class="btn-small waves-effect waves-green teal right" title="Marcar como lidas"><i class="material-icons right">drafts</i>Marcar como Lidas</a>
        </div>
        <div class="col s6">
            <a class="btn-small waves-effect waves-green teal left" title="Marcar como não lidas"><i class="material-icons right">email</i>Marcar como não lidas</a>
        </div>
    </div>
    <div class="row"> 
        <div class="col s12">
            <ul class="collapsible popout">
                <li>
                  <div class="collapsible-header"><i class="material-icons">notifications</i>Financeiro nova entrada</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">notifications</i>Novo usuário cadastrado</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">notifications</i>Relatório emitido</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>        
        </div>
    </div>
