<br>
<br>
<div class="container z-depth-5">
      <div class="row">
        <nav class="teal lighten-2">
          <div class="nav-wrapper">
              <ul class="right hide-on-med-and-down" id="mobile-demo">
                  <li><a><i class="material-icons">view_module</i></a></li>
                  <li><a><i class="material-icons">refresh</i></a></li>
                  <li><a><i class="material-icons">more_vert</i></a></li>
              </ul> 
              <form>
                  <div class="input-field col s12 m4 l8 custom-rounded">
                      <input id="search" type="search" required class="teal lighten-3 white-text">
                      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                  </div>
              </form>
          </div>
        </nav>
      </div>
      <div class="row"> 
          <div class="col s12">
            <a class="btn-small teal waves-effect waves-teal lighten-2 modal-trigger" (click)="openModal()" href="#modalPessoas"><i class="material-icons">add</i></a>
            <a class="btn-small teal waves-effect waves-teal lighten-2 right"><i class="material-icons right">close</i><span>Voltar</span></a>   
          </div>
          <div class="row"></div>
        <div class="col s12">
            <ul class="collection">
                <li class="collection-item avatar">
                  <img src="assets/avatar.jpg" alt="" class="circle">
                  <span class="title">Guilherme Barbosa</span>
                  <p>Cargo: Analista Help Desk <br>
                     Setor: Tecnologia da Informação
                  </p>
                  <div class="secondary-content">
                    <a href="" style="display: block; margin-bottom: 5px;"><i  class="material-icons teal-text">edit</i></a> 
                    <a href="" style="display: block; margin-bottom: 5px;"><i  class="material-icons teal-text">delete</i></a> 
                  </div>
                </li>
                <li class="collection-item avatar">
                  <img src="assets/duda.jpg" alt="" class="circle">
                  <span class="title">Eduarda Cristine</span>
                  <p>Cargo: Analista de Laboratório <br>
                     Setor: Automotiva
                  </p>
                  <div class="secondary-content">
                    <a href="" style="display: block; margin-bottom: 5px;"><i  class="material-icons teal-text">edit</i></a> 
                    <a href="" style="display: block; margin-bottom: 5px;"><i  class="material-icons teal-text">delete</i></a> 
                  </div>
                </li>
                <li class="collection-item avatar">
                  <img src="assets/john.jpg" alt="" class="circle">
                  <span class="title">Marconi Domingos</span>
                  <p>Cargo: Coordenador TI <br>
                     Setor: Tecnologia da Informação
                  </p>
                  <div class="secondary-content">
                    <a href="" style="display: block; margin-bottom: 5px;"><i  class="material-icons teal-text">edit</i></a> 
                    <a href="" style="display: block; margin-bottom: 5px;"><i  class="material-icons teal-text">delete</i></a> 
                  </div>
                </li>
                <li class="collection-item avatar">
                  <img src="assets/amanda.jpg" alt="" class="circle">
                  <span class="title">Amanda Caetano</span>
                  <p>Cargo: Analista Financeiro<br>
                     Setor: Financeiro Pagamentos
                  </p>
                  <div class="secondary-content">
                    <a href="" style="display: block; margin-bottom: 5px;"><i  class="material-icons teal-text">edit</i></a> 
                    <a href="" style="display: block; margin-bottom: 5px;"><i  class="material-icons teal-text">delete</i></a> 
                  </div>
                </li>
              </ul>
        </div>
      </div>
      <app-modalpessoas id="modalPessoas" class="modal"/>
</div>
