<div class="modal-content">
            <form name="form" (ngSubmit)="editedUser()" >
              <div class="row">
                <div class="col s12 center">
                    <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Avatar" class="circle responsive-img" style="width: 150px; height: 150px;">
                  </div>
                <div class="file-field input-field col s12">
                    <div class="btn">
                      <span>Foto de Perfil <i class="material-icons right">add_a_photo</i></span>
                      <input type="file" name="file" accept="image/*" (change)="onFileChange($event)">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Escolha uma imagem (Recomendamos 150x150)" name="filepath">
                    </div>
                  </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate" [ngModel]="nome" name="nome">
                  <label for="icon_prefix">Nome Completo</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">phone</i>
                  <input id="icon_telephone" type="tel" class="validate" [ngModel]="telephone" name="telephone">
                  <label for="icon_telephone">Celular</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">place</i>
                    <input id="icon_endereco" type="text" class="validate" [ngModel]="place" name="place">
                    <label for="icon_endereco">Endereço</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="icon_email" type="email" class="validate" [ngModel]="email" name="email" >
                    <label for="icon_email">Email</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">recent_actors</i>
                    <input id="icon_cpf" type="text" class="validate" [ngModel]="cpf" name="cpf">
                    <label for="icon_cpf">CPF</label>
                </div>    
                <div class="input-field col s6">
                    <i class="material-icons prefix">map</i>
                    <input id="icon_cidade" type="text" class="validate" [ngModel]="cidade" name="cidade">
                    <label for="icon_cidade">Cidade</label>
                </div>  
                </div>
            </form>
</div>

<div class="divider"></div>
<div class="modal-footer">
    <a class="waves-effect waves-teal lighten-2 btn-flat teal white-text" type="submit">Salvar
        <i class="material-icons right">save</i>
    </a>    
    <a (click)="clearDados()" class="waves-effect waves-teal lighten-5 btn-flat teal black-text">Limpar Campos
        <i class="material-icons right">clear_all</i>
    </a>  
    <a class="waves-effect waves-teal lighten-2 btn-flat modal-close" type="submit">Sair
        <i class="material-icons right">clear</i>
    </a>  
</div>

