<!-- financeiro-options.component.html -->
<!-- financeiro-options.component.html -->
<div *ngIf="show" class="financeiro-options">
    <ul class="teal lighten-5">
        <li class="sidenav-close black-text"><a><i class="material-icons left"></i>Contas a Pagar</a></li>
        <li class="sidenav-close black-text"><a><i class="material-icons left"></i>Receitas</a></li>
        <li class="sidenav-close black-text"><a><i class="material-icons left"></i>Despesas</a></li>
        <li class="sidenav-close black-text"><a><i class="material-icons left"></i>Caixa Loja</a></li>
    </ul>
</div>

