<br>
<br>
<div class="container z-depth-5"> 
    <ul class="collection">     
        <li class="collection-item avatar">
            <table class="responsive-table centered">  
                
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Tipo</th>
                  <th>Email</th>
                  <th>Ações</th>
              </tr>
            </thead>
    
            <tbody>
                <img src="assets/avatar.jpg" alt="" class="circle">
              <tr>
                <td><span class="title">Guilherme Barbosa</span></td>
                <td><p>Administrador</p></td>
                <td><p>{{email.guilherme}}</p></td>
                <td>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">refresh</i></a>
                        <a href="#!" style="margin-left: 5%;"><i class="material-icons teal-text">delete</i></a>
                </td>
              </tr>
              <img src="assets/duda.jpg" alt="" class="circle">
              <tr>
                <td><span class="title">Eduarda Cristine</span></td>
                <td><p>Administrador</p></td>
                <td><p>{{email.eduarda}}</p></td>
                <td>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">refresh</i></a>
                        <a href="#!" style="margin-left: 5%;"><i class="material-icons teal-text">delete</i></a>
                </td>
              </tr>
              <img src="assets/john.jpg" alt="" class="circle">
              <tr>
                <td><span class="title">Marconi Domingos</span></td>
                <td><p>Coordenador</p></td>
                <td><p>{{email.marconi}}</p></td>
                <td>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">refresh</i></a>
                        <a href="#!" style="margin-left: 5%;"><i class="material-icons teal-text">delete</i></a>
                </td>
              </tr>
              <img src="assets/amanda.jpg" alt="" class="circle">
              <tr>
                <td><span class="title">Amanda Caetano</span></td>
                <td><p>Financeiro</p></td>
                <td><p>{{email.amanda}}</p></td>
                <td>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">refresh</i></a>
                        <a href="#!" style="margin-left: 5%;"><i class="material-icons teal-text">delete</i></a>
                </td>
              </tr>
              <img src="assets/regina.jpg" alt="" class="circle">
              <tr>
                <td><span class="title">Regina Helena</span></td>
                <td><p>Serviços Gerais</p></td>
                <td><p>{{email.regina}}</p></td>
                <td>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">refresh</i></a>
                        <a href="#!" style="margin-left: 5%;"><i class="material-icons teal-text">delete</i></a>
                </td>
              </tr>
              <img src="assets/karina.jpg" alt="" class="circle">
              <tr>
                <td><span class="title">Karina Leite</span></td>
                <td><p>Recursos Humanos</p></td>
                <td><p>{{email.karina}}</p></td>
                <td>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">refresh</i></a>
                        <a href="#!" style="margin-left: 5%;"><i class="material-icons teal-text">delete</i></a>
                </td>
              </tr>
            </tbody>
            </table>
          <!-- <span class="title">Guilherme Barbosa</span>
          <p>Administrador</p>
          <p>{{email.guilherme}}</p> -->
        </li>
      </ul>

</div>