span{
    font-weight: bolder;
}

p{
    text-transform: none;
}

@media screen and (max-width: 400px) {
    .circle {
        display: none !important;
    }
}

.custom-rounded input {
    border-radius: 10px; /* Ou o valor que preferir para cantos arredondados */
}
.custom-rounded {
padding: 1%;
}