<br>
<br>
<div class="container z-depth-5"> 
  <div class="row">
    <nav class="teal lighten-2">
      <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down" id="mobile-demo">
              <li><a><i class="material-icons">view_module</i></a></li>
              <li><a><i class="material-icons">refresh</i></a></li>
              <li><a><i class="material-icons">more_vert</i></a></li>
          </ul> 
          <form>
              <div class="input-field col s12 m4 l8 custom-rounded">
                  <input id="search" type="search" required class="teal lighten-3 white-text">
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
              </div>
          </form>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="col s12">
      <a class="btn-small teal waves-effect waves-teal lighten-2 modal-trigger" href="#modalUsuario"><i class="material-icons">add</i></a>
      <a class="btn-small teal waves-effect waves-teal lighten-2 right"><i class="material-icons right">close</i><span>Voltar</span></a>   
    </div>
  </div>
    <ul class="collection">     
        <li class="collection-item avatar">
            <table class="responsive-table centered">  
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Tipo</th>
                  <th>Email</th>
                  <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <img src="assets/markis.jpg" alt="" class="circle hide-on-med-only hide-on-small-only">
              <tr>
                <td><span class="title">Markis Souza</span></td>
                <td><p>Administrador</p></td>
                <td><p>{{email.markis}}</p></td>
                <td>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">edit</i></a>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">refresh</i></a>
                        <a href="#!" style="margin-left: 5%;"><i class="material-icons teal-text">delete</i></a>
                </td>
              </tr>
              <img src="assets/duda.jpg" alt="" class="circle hide-on-med-only hide-on-small-only">
              <tr>
                <td><span class="title">Natalia Silva</span></td>
                <td><p>Administrador</p></td>
                <td><p>{{email.natalia}}</p></td>
                <td>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">edit</i></a>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">refresh</i></a>
                        <a href="#!" style="margin-left: 5%;"><i class="material-icons teal-text">delete</i></a>
                </td>
              </tr>
              <img src="assets/john.jpg" alt="" class="circle hide-on-med-only hide-on-small-only">
              <tr>
                <td><span class="title">Nelson Oliveira</span></td>
                <td><p>Coordenador</p></td>
                <td><p>{{email.nelson}}</p></td>
                <td>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">edit</i></a>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">refresh</i></a>
                        <a href="#!" style="margin-left: 5%;"><i class="material-icons teal-text">delete</i></a>
                </td>
              </tr>
              <img src="assets/amanda.jpg" alt="" class="circle hide-on-med-only hide-on-small-only">
              <tr>
                <td><span class="title">Cicera Morais</span></td>
                <td><p>Financeiro</p></td>
                <td><p>{{email.cicera}}</p></td>
                <td>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">edit</i></a>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">refresh</i></a>
                        <a href="#!" style="margin-left: 5%;"><i class="material-icons teal-text">delete</i></a>
                </td>
              </tr>
              <img src="assets/regina.jpg" alt="" class="circle hide-on-med-only hide-on-small-only">
              <tr>
                <td><span class="title">Maria Helena</span></td>
                <td><p>Serviços Gerais</p></td>
                <td><p>{{email.maria}}</p></td>
                <td>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">edit</i></a>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">refresh</i></a>
                        <a href="#!" style="margin-left: 5%;"><i class="material-icons teal-text">delete</i></a>
                </td>
              </tr>
                <img src="assets/karina.jpg" alt="" class="circle hide-on-med-only hide-on-small-only">
              <tr>
                <td><span class="title">Nadia Oliveira</span></td>
                <td><p>Recursos Humanos</p></td>
                <td><p>{{email.nadia}}</p></td>
                <td>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">edit</i></a>
                        <a href="#!" style="margin-left: 5%;" ><i class="material-icons teal-text">refresh</i></a>
                        <a href="#!" style="margin-left: 5%;"><i class="material-icons teal-text">delete</i></a>
                </td>
              </tr>
            </tbody>
            </table>
        </li>
      </ul>
      <app-modalusuarios id="modalUsuario" class="modal"/>
</div>