<br>
<br>
<div class="container z-depth-5">
    <div class="row">
        <nav class="teal lighten-2">
            <div class="nav-wrapper">
                <ul class="right hide-on-med-and-down" id="mobile-demo">
                    <li><a><i class="material-icons">view_module</i></a></li>
                    <li><a><i class="material-icons">refresh</i></a></li>
                    <li><a><i class="material-icons">more_vert</i></a></li>
                </ul> 
                <form>
                    <div class="input-field col s12 m4 l8 custom-rounded">
                        <input id="search" type="search" required class="teal lighten-3 white-text">
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
        <div class="row"></div>
        <div class="col s12">
          <a class="btn-small teal waves-effect waves-teal lighten-2 modal-trigger"><i class="material-icons">add</i></a>
          <a class="btn-small teal waves-effect waves-teal lighten-2 right"><i class="material-icons right">close</i><span>Voltar</span></a> 
        </div> 
        <br><br>
        <table class="responsive-table centered">
            <thead>
              <tr>
                  <th>Numero</th>
                  <th>Cliente</th>
                  <th>Itens</th>
                  <th>Quantidade</th>
                  <th>Valor</th>
                  <th>Ações</th>
                  <th>Total</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>12</td>
                <td>Eclair Jonshon</td>
                <td>Maça</td>
                <td>3</td>
                <td>R$ 5,00</td>
                <td>
                    <a ><i class="material-icons teal-text">add</i></a>
                    <a ><i class="material-icons teal-text">edit</i></a>
                    <a ><i class="material-icons teal-text">delete</i></a>
                </td>
                <td>R$ 15,00</td>
              </tr>
              <tr>
                <td>24</td>
                <td>John Doe</td>
                <td>Banana</td>
                <td>2</td>
                <td>R$ 3,00</td>
                <td>
                    <a><i class="material-icons teal-text">add</i></a>
                    <a><i class="material-icons teal-text">edit</i></a>
                    <a><i class="material-icons teal-text">delete</i></a>
                </td>
                <td>R$ 6,00</td>
            </tr>
            <tr>
                <td>36</td>
                <td>Alice Johnson</td>
                <td>Pêra</td>
                <td>4</td>
                <td>R$ 2,50</td>
                <td>
                    <a><i class="material-icons teal-text">add</i></a>
                    <a><i class="material-icons teal-text">edit</i></a>
                    <a><i class="material-icons teal-text">delete</i></a>
                </td>
                <td>R$ 10,00</td>
            </tr>
            <tr>
                <td>48</td>
                <td>Bob Smith</td>
                <td>Laranja</td>
                <td>1</td>
                <td>R$ 4,00</td>
                <td>
                    <a><i class="material-icons teal-text">add</i></a>
                    <a><i class="material-icons teal-text">edit</i></a>
                    <a><i class="material-icons teal-text">delete</i></a>
                </td>
                <td>R$ 4,00</td>
            </tr>
            </tbody>
          </table>
    </div>
</div>
