<div class="modal-content">
    <h4>Novo Produto</h4>
    <form class="col s12">
        <!-- Nome do Produto -->
        <div class="row">
          <div class="input-field col s12">
            <input id="nomeProduto" type="text" class="validate">
            <label for="nomeProduto">Nome do Produto</label>
          </div>
        </div>
    
        <!-- Marca -->
        <div class="row">
            <div class="input-field col s12 m6">
                <input id="marca" type="text" class="validate">
                <label for="marca">Marca</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="quantidade" type="number" class="validate">
                <label for="quantidade">Quantidade</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="valorCompra" type="number" step="0.01" class="validate">
                <label for="valorCompra">Valor de Compra (R$)</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="valorVenda" type="number" step="0.01" class="validate">
                <label for="valorVenda">Valor de Venda (R$)</label>
            </div>
            <div class="input-field col s12 m6">
                <select>
                  <option value="" disabled selected>Escolha a Unidade</option>
                  <option value="unidade">Unidade</option>
                  <option value="kg">Quilograma (kg)</option>
                  <option value="g">Grama (g)</option>
                  <option value="l">Litro (l)</option>
                </select>
                <label for="unidade">Unidade</label>
              </div>
        </div>

    </form>
    <div class="row"></div>
  </div>
  <div class="modal-footer">
    <div class="divider"></div>
    <a class="waves-effect waves-teal lighten-2 btn-flat teal white-text"><i class="material-icons right">save</i>Salvar</a>
    <a class="waves-effect waves-teal lighten-5 btn-flat teal black-text"><i class="material-icons right">clear_all</i>Limpar Campos</a>
    <a class="modal-close waves-effect waves-teal lighten-2 btn-flat"><i class="material-icons right">close</i>Sair</a>
  </div>
