.modal-footer a{
    margin-left: 5px;

}

// .ajuste{

//     padding-left: 70%;

// }

.ajuste h6 {
    padding-top: 1%;
    margin-right: 70%;
}

@media only screen and (max-width: 768px) {
    .ajuste h6 {
        margin-right: 20%;
        /* Defina os estilos que você deseja para telas menores (tablet) aqui */
        /* Ou qualquer outra propriedade para desativar o estilo */
    }
}