:root{
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
  font-size: .925rem;
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-transform: uppercase;

}
/* You can add global styles to this file, and also import other style files */
/* styles.css ou styles.scss */

// body {
// 	font-family: 'Poppins', sans-serif;
// 	// background-color: #313348;
// 	font-size: .925rem;
//   	text-transform: uppercase;
// }

// h1,h2,h3,h4,h5,h6,p,label,span,strong,em,u,blockquote,q,abbr{
// 	font-family: 'Poppins', sans-serif;
//     text-transform: uppercase;
//     font-weight: lighter;
// }